  <li class="main_content  img-rounded">
      <a href="">
          <div class="main_c_left">
          <%if post.trainer_id%>
          <%= image_tag("#{post.trainer.avatar}", size: "50x50", class: 'img-circle' , style: 'margin-right:10px;', alt: "profile") %>
          <%elsif post.user_id%>
          <%= image_tag("#{post.user.avatar}", size: "50x50", class: 'img-circle' , style: 'margin-right:10px;', alt: "profile") %>
          <%end%>
          </div>

              <div class="main_c_right"><time class="t_line_time"><%=time_ago_in_words post.updated_at%></time>

               <h5 class="t_line_name">
<%if post.trainer_id%>
<%=post.trainer.name%>
<%elsif post.user_id%>
<%=post.user.name%>
<%end%>
               </h5>


                  <h4 class="t_title"><%=post.title%></h4>
                  <%if post.avatar.present?%>
                 <%= image_tag("#{post.avatar}", class: 't_photo' , alt: "img") %>
                 <%else%>
                 <%end%>
                  <p><%=post.post%></p>
              </div>


      </a>

      <div class="answer">
<span>コメント<%= post.answers.count%></span>
 <%= form_tag(new_answer_path, method: :get, class: "") do %>
      <%= hidden_field_tag(:post_id, post.id) %>
      <%= submit_tag("回答する") %>
    <% end %>

<p>
<%if post.answers.count >= 1 %>
<p><%= @answer.answer%></p>
<%else%>
<%end%>
  </p>

</div>

    </li>