<div class="col-md-1 col-xs-0"></div>
      <div class="maincullumn col-md-7 col-xs-12" >

          <div class="main_content_top img-rounded clearfix">

<h2 class="h3" style="margin-bottom:20px"><%= image_tag("profile.jpg", size: "50x50", class: 'img-circle' , style: 'margin-right:10px;', alt: "profile") %>トレーナーログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} , html: {style: 'clear:both;'}) do |f| %>

<div class="form-group">
  <div class="field" id="i_mail">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

<div class="form-group">
  <div class="field" id="i_pass">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "trainers/shared/links" %>
</div>
     </div><!-- maincullumn-end -->










<div class="sidecullumn col-md-3 col-xs-12" >

<div class="profile_content img-rounded">



<h3 class="profile_name text-center">Help</h3>

      <p class="side_text">これはダミープロフィールです。ご注意ください。これはダミープロフィールです。ご注意ください。これはダミープロフィールです。ご注意ください。</p>
 </div>



    </div>
 <div class="col-md-1 col-xs-0"></div>